.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.cajaMedio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height:300px;
   background-color: rgb(255, 255, 255);
   


}
.greetingText{
  color: #000000;
  height: 70%;
  margin-left: 5%;
  margin-right: 5%;
  

}
.welcome{
  color: #ffffff;
  height: 20px;
  
}
.cajaMedioContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: blue;
  flex-grow: 1;
  align-items: center;
}